{% load static %}


<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
      <a class="navbar-brand" href="/">
        <img src="{% static 'images/simplon.png' %}" alt="@logo de simplon">   {# le alt est pour donner l alternative#}
       {# <img src="/static/images/simplon.png" alt="@todo"> {# premiere méthode#}
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMenu" aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarMenu">
        <ul class="navbar-nav ml-auto">

              {% for link in "123" %}
              <li class="nav-item active">
              <a class="nav-link" href="@todo"> LINK {{link}}
                </a>
              </li>
              {% endfor %}
        </ul>
      </div>
    </div>
  </nav>



  